<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>

<h1>Expense Tracker</h1>
<hr width="400">

<h2>Add Expense</h2>

<form method="POST">
{% csrf_token %}

<table>

<tr>
<td>Title:</td>
<td><input type="text" name="title"></td>
</tr>

<tr>
<td>Category:</td>
<td>
<select name="category">
<option>Food</option>
<option>Travel</option>
<option>Bills</option>
<option>Shopping</option>
</select>
</td>
</tr>

<tr>
<td>Amount:</td>
<td><input type="number" name="amount"></td>
</tr>

<tr>
<td>Date:</td>
<td><input type="date" name="date"></td>
</tr>

<tr>
<td colspan="2" align="center">
<br>
<button type="submit">Add Expense</button>
</td>
</tr>

</table>

</form>

<br>

<a href="/dashboard/">Back to Dashboard</a>

</center>
</body>
</html>