<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>

<h1>Personal Expense Tracker Dashboard</h1>

<hr width="600">

<a href="/add_expense/">Add Expense</a> |
<a href="/add_income/">Add Income</a> |
<a href="/logout/">Logout</a>

<br><br>

<h2>Financial Summary</h2>

<table border="1" cellpadding="10">

<tr>
<th>Total Income</th>
<th>Total Expense</th>
<th>Balance</th>
</tr>

<tr>
<td>{{total_income}}</td>
<td>{{total_expense}}</td>
<td>{{balance}}</td>
</tr>

</table>

<br><br>

<h2>Expense List</h2>

<table border="1" cellpadding="10">

<tr>
<th>Title</th>
<th>Category</th>
<th>Amount</th>
<th>Date</th>
<th>Action</th>
</tr>

{% for e in expenses %}

<tr>
<td>{{e.title}}</td>
<td>{{e.category}}</td>
<td>{{e.amount}}</td>
<td>{{e.date}}</td>

<td>
<a href="/delete_expense/{{e.id}}/">Delete</a>
</td>

</tr>

{% endfor %}

</table>

</center>
</body>
</html>