<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<center>

<h1>Personal Expense Tracker</h1>
<hr width="400">

<h2>Login</h2>

<form method="POST">
{% csrf_token %}

<table>

<tr>
<td>Username:</td>
<td><input type="text" name="username"></td>
</tr>

<tr>
<td>Password:</td>
<td><input type="password" name="password"></td>
</tr>

<tr>
<td colspan="2" align="center">
<br>
<button type="submit">Login</button>
</td>
</tr>

</table>

</form>

<br>

<a href="/register/">Create New Account</a>

</center>
</body>
</html>